article{
    margin-top: 100px;
    text-align: center;

}

#inscription{

    margin-left: 300px;
    font-size: 30pt;
    color: rgb(100, 100, 100);
}
#histImg{
    max-height: 200px; 
    max-width: 200px;
}

button {
    margin-top: 10px;
    background-color: rgb(255, 74, 74);
    border-radius: 10px !important;
}

#sortHide{
    margin-top: 30px ;
}
#arrHide {
    margin-top: 30px ;
}

#generateButton{
    margin-top: 20px ;
}

.sidenav {
    border-radius: 15px;
    height: 1200px;
    width: 160px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
  }

  .sidenav a:hover {
    color: #727272;
  }

  .sidenav-right {
    border-radius: 15px;
    width: 200px;
    height: 1200px;

    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav-right a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav-right a:hover {
    color: #064579;
  }

  .footer-basic {
    padding:40px 0;
    background-color:yellowgreen;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }