* {
    box-sizing: border-box;
    text-decoration: none;
  }

  h2 {
      text-align: center;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  a:link, a:visited {
    color: white;
    padding: 30px 50px;
  }
  

  header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

  ul#horizontal-list {
	min-width: 696px;
	list-style: none;
    padding-top: 20px;
	}
  ul#horizontal-list li {
    border: 4px solid black;
    border-radius: 5px;
    display: inline;
    list-style-type: none;
    padding: 10px 30px;
    background-color: blue;
    }


    ul#horizontal-list li:hover {
    background-color: rgb(2, 2, 136);
    border: 6px solid black;
    }

    #indent {
        margin-left: 22px;
    }

    
  
  #vertical-list {
    font-size: 16pt;
  }

  #vertical-list  li {
    border: 3px solid black;
    border-radius: 30px;
    background-color: red;
    cursor: pointer;
    padding: 10px;
    margin-top: 8px;
    }

    #vertical-list  a {
      color: white;
      }

  nav {
    float: left;
    width: 30%;
    height: 600px; 
    padding: 20px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 500px; 
  }
  

  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }